__pycache__
__pycache__/*
_debug.py
_debug.sh
debug_libutil;.ipynb
log
.ipynb_checkpoints
.ipynb_checkpoints/*
_debug*
.vscode
.vscode/*
.pytest_cache
.pytest_cache/*
_scanimportdir.sh
_unusedlib.py
.venv